<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../lib/html5shiv.js"></script>
    <script type="text/javascript" src="../lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="../lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="../lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>AMD</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> AMD <span class="c-gray en">&gt;</span> AMD <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="attributes-list" id="J_AttrList">
                
                    <div class="tm-clear tb-hidden tm_brandAttr" id="J_BrandAttr" style="display: block;"><div class="name">品牌名称：<b class="J_EbrandLogo" target="_blank" href="//brand.tmall.com/brandInfo.htm?brandId=22005&amp;type=0&amp;scm=1048.1.1.4">Gigabyte/技嘉</b></div></div>
        									<p class="attr-list-hd tm-clear"><em>产品参数：</em></p>
				<ul id="J_AttrUL">
                
				<li title="Gigabyte/技嘉 B450M DS3H" data-spm-anchor-id="a220o.1000855.0.i1.2f0a6079lX3fRV">产品名称：Gigabyte/技嘉 B450M DS3...</li>                				    																																																																												
				<li title="&nbsp;AMD AM4">CPU接口类型:&nbsp;AMD AM4</li>
                                																																																																																														
																																																																																																						<li title="&nbsp;支持">是否支持显示输出:&nbsp;支持</li>
																																																																																																						
                                																																																																																														<li title="&nbsp;DVI+HDMI">显示接口:&nbsp;DVI+HDMI</li>
                                																																																																																														<li title="&nbsp;DDR4">内存类型:&nbsp;DDR4</li>
                                																																																																																														<li title="&nbsp;双通道">内存通道:&nbsp;双通道</li>
                                																																																																																														<li title="&nbsp;64GB">最大内存容量:&nbsp;64GB</li>
                                																																																																																														<li title="&nbsp;不支持">多显卡支持:&nbsp;不支持</li>
                                																																																																																														<li title="&nbsp;台式机">适用对象:&nbsp;台式机</li>
                                																																																																																														<li title="&nbsp;不支持">是否支持磁盘阵列:&nbsp;不支持</li>
                                																																																																																														<li title="&nbsp;AMD">CPU类型:&nbsp;AMD</li>
                                																																																																																														<li title="&nbsp;AM4" data-spm-anchor-id="a220o.1000855.0.i2.2f0a6079lX3fRV">AMD CPU接口:&nbsp;AM4</li>
                                																																																																																														<li title="&nbsp;M-ATX紧凑型">主板结构:&nbsp;M-ATX紧凑型</li>
                                																																																																																														<li title="&nbsp;全国联保">售后服务:&nbsp;全国联保</li>
                                																																																																																														<li title="&nbsp;全新">宝贝成色:&nbsp;全新</li>
                                																																																																																														<li id="J_attrBrandName" title="&nbsp;Gigabyte/技嘉">品牌:&nbsp;Gigabyte/技嘉</li>
																																																																																																						<li title="&nbsp;B450M DS3H">技嘉:&nbsp;B450M DS3H</li>
                                																																																																																														<li title="&nbsp;技嘉科技">生产企业:&nbsp;技嘉科技</li>
                                																																																																																														<li title="&nbsp;B450">AMD芯片:&nbsp;B450</li>
                                																																																																																														<li title="&nbsp;技嘉 B450M DS3H">颜色分类:&nbsp;技嘉 B450M DS3H</li>
                                																					    
                <!-- 健字号相关-->
                		    </ul>
			
									    									</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="../lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="../static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="../static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../lib/datatables/1.10.0/jquery.dataTables.min.js"></script>

</body>
</html>