<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../lib/html5shiv.js"></script>
    <script type="text/javascript" src="../lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="../lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="../lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>华硕/猛禽Z390</title>
</head>
<style>
    *{
        list-style:none;
        width: 100%;
    }
    .xxi{
        height: 40rem;
    }
</style>
<body style="background-color: #000;">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 华硕/猛禽Z390 <span class="c-gray en">&gt;</span> 华硕/猛禽Z390 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="section-bottom "style="margin-left: 2rem;color: #fff">
    <div id="xinxi1"style="border-bottom: 2px solid rebeccapurple;">
        <div class="row" style="width: 100%;">
            <h2>技嘉/B450M DS3H主板</h2>
            <div class="col-md-4 xxi">

                <h3>一.CPU</h3>
                <ui>
                    <li>支持锐龙 AMD Ryzen 处理器</li>
                    <li>支持AMD第七代A系列/ Athlon™处理器</li>
                    <li>八核、十二纳米、十六线程</li>
                </ui>
                <h3>二.芯片组</h3>
                <ui>
                    <li>AMD A320</li>
                </ui>
                <h3>三.内存</h3>
                <ui>
                    <li>2个DDR4 DIMM插槽，最高支持到32 GB</li>
                    <li>双通道内存技术</li>
                    <li>DDR4 3200/2933/2667/2400/2133 MHz </li>
                </ui>
                <h3>四.显示功能</h3>
                <ui>
                    <li>1个VGA接口，可支持至最高1920x1200@60 Hz的分辨率</li>
                    <li>1个DVI-D接口，可支持至最高1920x1200@60 Hz的分辨率</li>
                    <li>1个HDMI接口，可支持至最高4096x2160@24 Hz的分辨率</li>
                </ui>
                <h3>五.扩展槽</h3>
                <ui>
                    <li>1个PCI Express x16插槽</li>
                    <li>2个PCI Express x1插槽</li>
                </ui>
            </div>
            <div class="col-md-4 xxi">

                <h3>六.扩展槽</h3>
                <ui>
                    <li>1个M.2插座</li>
                    <li>4个SATA 3.0接口</li>
                    <li>支持RAID 0、RAID 1及RAID 10功能</li>
                </ui>
                <h3>七.USB</h3>
                <ui>
                    <li>2个USB 3.1 </li>
                    <li>6个USB 2.0接口</li>
                    <li>4个USB 3.1 Gen 1接口在后方面板</li>
                </ui>
                <h3>八.操作系统</h3>
                <ui>
                    <li>支持Windows 10 64-bit</li>
                    <li>支持Windows 7 64-bit</li>
                </ui>
                <h3>九.后方面板</h3>
                <ui>
                    <li>1个PS/2键盘接口</li>
                    <li> 1个PS/2鼠标接口</li>
                    <li>1个VGA接口</li>
                    <li> 1个DVI-D接口</li>
                    <li>1个HDMI接口</li>
                    <li>4个USB 3.1 Gen 1接口</li>
                    <li> 2个USB 2.0接口</li>
                    <li> 1个RJ-45网线接口</li>
                    <li> 3个音频接口(音频输入、音频输出、麦克风)</li>
                </ui>


            </div>
            <div class="col-md-4 xxi">

                <h3>十.内接插座</h3>
                <ui>
                    <li>1个24 PIN主板供电插座</li>
                    <li>1个8 PIN CPU供电插座</li>
                    <li>1个CPU风扇插座</li>
                    <li> 1个系统风扇插座</li>
                    <li> 1个M.2 Socket 3插座</li>
                    <li>4个SATA 3.0接口</li>
                    <li>1个主板跳线插座</li>
                    <li>1个前置音频插座</li>
                    <li>1个S/PDIF输出插座</li>
                    <li>1个USB 3.1 Gen 1插座</li>
                    <li>2个USB 2.0插座</li>
                    <li>1个安全加密模块(TPM)插座(2x10 pin, 限搭配GC-TPM2.0使用)</li>
                    <li>1个喇叭插座</li>
                    <li> 1个清除CMOS数据针脚</li>
                    <li>1个机箱开启检测插座</li>
                </ui>
                <h2 style="color: red;">￥419.00</h2>
            </div>
        </div>
    </div>
    <div id="xinxi2"style="border-bottom: 2px solid rebeccapurple;">
        <div class="row">
            <h3>十一.主板样图</h3>
            <div class="col-md">
                <ui>
                    <li><img src="../img/jijia2/0.png"/></li>
                    <li><img src="../img/jijia2/1.png"/></li>
                    <li><img src="../img/jijia2/2.png"/></li>
                    <li><img src="../img/jijia2/3.png"/></li>
                    <li><img src="../img/jijia2/4.png"/></li>
                    <li><img src="../img/jijia2/5.png"/></li>
                    <li><img src="../img/jijia2/6.png"/></li>
                </ui>

            </div>
        </div>
    </div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="../lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="../static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="../static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../lib/datatables/1.10.0/jquery.dataTables.min.js"></script>

</body>
</html>